<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8">
    <title>Bug Tracker</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="slate.boostrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.1.5/angular.min.js"></script>
    <script src="script.js"></script>
  </head>
  <body>

  <div ng-app ng-controller="Buggy">
    <div class="navbar navbar-default navbar-fixed-top" >
      <div class="container">
        <div class="navbar-header">
          <a href="#" class="navbar-brand">Bug Tracker</a>
          <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="navrbar-collapse collapse" id="navbar-main">
          <ul class="nav navbar-nav">
            <li>
              <a href="#">Help</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="page-header" id="banner">
        <div class="row">
          <div class="col-md-12">
            <h1>Bug Tracker</h1>
            <h2>A simple place to organize and anhilate those pesky bugs in your program.</h2>
          </div>
        </div>
      </div>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <input type="text" class="form-control" ng-model="title"
              placeholder="Bug Title" ng-keyup="addTodo()"/>
              <textarea type="text" class="form-control" rows ="5" ng-model="desc"
              placeholder="Bug Description" ng-keyup="addTodo()"></textarea>
            </div>
			
			
            <div class="dropdown">
              <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" id="myButton">
                {{selectedItem}}
                <span class="caret"></span></button>
                <ul class="dropdown-menu">
                  <li ng-repeat="a in statuses"><a ng-click="statusSelected(a)" >{{a}}</a></li>
                </ul>
            </div>

			
			
            <section id="main">
                <div ng-show="isTodo()">
                  <input id="toggle-all" type="checkbox" ng-model="markAll"
                    ng-click="toggleMarkAll()"/>
                  <label for="toggle-all">Mark all as complete</label>
                </div>

                <ul id="todo-list" class="unstyled">
                  <li ng-repeat="todo in todos" ng-dblclick="toggleEditMode()">
                    <div class="view" ng-keyup="editTodo()">
                      <input type="checkbox" ng-model="todo.done"/>
                      <span class="done-{{todo.done}}" >
                        <span class="title">{{todo.title}}:</span><br>
                        <span class="description"> {{todo.desc}}</span>
                        <span class="status">{{todo.status}}</span>
                      </span>
                    </div>
                    <input class="edit" type="text" ng-model="todo.text"
                      ng-keyup="editOnEnter(todo)"/>
                    </li>
                </ul>
            </section>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <footer style="display: block;">
                <div class="todo-count">{{remaining()}} of {{todos.length}} remaining</div>
                  <a id="clear-completed" ng-click="clear()" ng-show="hasDone()">
                      Clear <span >{{(todos.length - remaining())}} {{itemText()}}</span>.
                  </a>
				  <!--a id="complete" ng-click="complete()" ng-show="hasDone()">
					Mark Completed <span>{{(todos.length = remaining())}} {{itemText()}}</span>
					</a-->
            </footer>
          </div>
        </div>

        </div>
      </div>
    </div>
  </div>
  </body>
</html>
